@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --theme-bg-dark:#040b14;
    --theme-bg-light:#ffffff26;
    --theme-blue:#149ddd;
    --theme-white:#fff;
    --theme-light-blue:#f4fafd;
}

img{
    display: block;
    width: 100%;
}

.about .about-header h2::before,
.skills .skills-header h2::before,
.resume .resume-header h2::before{
    content: '';
    height: 2px;
    width: 60px;
    background-color: var(--theme-blue);
    position: absolute;
    bottom: 0;
}


 /* header section start */
 header{
    background-color: var(--theme-bg-dark);
}

header .profile-img img{
    width: 120px; 
    border-color: var(--theme-bg-light) !important; 
    border-width: 8px !important;
}

header .header-icons ul li a{
    background-color: var(--theme-bg-light) !important;
    transition: all .2s ease-in-out;
}

header .header-icons ul li a:hover{
    background-color: var(--theme-blue) !important;
}

header nav ul li a{
    transition: all .2s ease-in-out;
}

header nav ul li a:hover{
    color: var(--theme-white) !important;
    background-color: var(--theme-bg-light);
}

header nav ul li a:hover i{
    color: var(--theme-blue) !important;
}

 /* header section end */
 
 /* hero section start  */
 .hero .hero-img .img-overlay {
    background-color: #000000d7;
 }

 .hero .hero-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000070;
 }
 /* hero section end  */

/* about section start */


.about .about-content ul li::before{
    content: '\f285';
    font-family: bootstrap-icons !important;
    color: var(--theme-blue);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


/* about section end */

/* skills section start  */

.skills {
    background-color: var(--theme-light-blue);
}

/* skills section end  */

.resume .resume-content::before{
    content: "";
    padding: 8px;
    border: var(--theme-blue) 2px solid;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
}